.grid {
  display: grid;
  gap: 12px 10px;
  height: 50vh;
  grid-template:
    "header header header header" 1fr
    "content content content nav" 2fr
    "footer footer footer footer" 1fr / 1fr 1fr 1fr 1fr;
}

.header {
  background-color: #6995ff;
  color: #fff;
  grid-column: span 4;
  grid-area: header;
}

.content {
  background-color: #ff4d4f;
  color: #fff;
  grid-area: content;
  /* grid-column: 1 / -2; */
  /* grid-row: span 2; */
}

.nav {
  background-color: #6ab49b;
  color: #fff;
  grid-area: nav;
  /* grid-row: span 2; */
}

.footer {
  background-color: #8e44ad;
  color: #fff;
  grid-area: footer;
  /* grid-column: span 4; */
}
